body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #abc8c7;
  }

  .topnav {
    overflow: hidden;
    background-color: #273e47;
    color: #abc8c7;
  }

  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .tablink:hover {
    background-color: #777;
  }
  
  header {
    display: flex;
    justify-content: center;
    
    
  }

  footer {
      
      color: black;
      padding: 10px;
      text-align: center;
  }

  nav {
    background-color: #273e47;
    line-height: 25px;
    margin: 0;
    padding: 0;
}

nav a:hover {
    color: white;
    background-color:#802392;
}

nav a:active {
    
    background-color:#802392;
    color: white;
}

ul .ham {
    color: white;
    padding-left: 1em;
   
}




.flex {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
}


main {
    margin: 0 auto;
    max-width: 80%;
    text-align: center;

    
}

h2 {
    text-align: center;

}
nav ul {
    margin: 0;
}

.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
img {

    size: 5px;
}

.galleryGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    margin-top: 10px;
}
main {
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
}

.galleryGrid img:hover {
    box-shadow: 2px 2px 2px;
    
}

#pancakes {
    margin: 0 auto;
    padding: 2em;
    display: flex;
    justify-content: center;
    background-color: #FFFEAE;

}
#weather-summary {
    background-color: #F2F2F2;
    left: 20%;
    padding: 10px;
    position: absolute;
    top: 1em auto;
    opacity: .8;
}
