@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: block;
    margin: auto;
    max-width: 80%;
    background-color: rgb(140, 104, 104);
}

h1 {
    background-color: rgb(14, 104, 104);
    background-size: cover;
    color: rgb(252, 238, 238);
    font-size: 3.2em;
    padding-top: 1.6em;
    padding-bottom: .6em;
    margin-top: 30px;
    padding-left: 30px;
    width: 100%;
    justify-self: auto;
}

h2 {
    justify-content: center;
    font-weight: lighter;
}

img[src="megpic.jpg"] {
    width: 11.8em;
    float: right;
    margin-top: 10px;
}

.centerSection {
    margin-left: 30px;
    margin-bottom: 100px;
}

footer {
    text-align: center;
}

.updated {
    font-size: .7em;
}

ul {
    background: gray;
    padding-bottom: .7em;
    padding-top: .7em;
}

li {
    padding-bottom: 1em;
    padding-top: 1em;
}