@media only screen and (min-width: 64em) {
    .leftAlignedContent{
        padding-left: 6em;
    }

    #grid {
        padding: 1em;
    }
    .summary 
{
    top: 17em;
    left: 45em;

}

.galleryGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    margin-top: 10px;
}
.summary
{
    position: absolute;
}
}