table {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

  tr:nth-child(even) {
  
    background-color:#e7ffed;
  }

  tr:nth-child(odd) {
  
    background-color:#e7f0ed;
  }


  th, td {
    padding: 15px;
  }

 caption {
     font-size: 2em;
    
     background-color:#7fb9c2;
  }
  
  table#t01 th {
    background-color:  #628ca6;
    color: white;