:root {
    --background-color: white;
    --text-color: rgb(156, 145, 145);
    --accent1-color:  rgb(222, 218, 218);
    --link-color: #2D3142;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: black;
    font-size: large;
  }

  li {
    float: right;
  }
  
  li a:hover {
   color: var(--accent1-color);
  }

  li a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .container {
    position: relative;
    max-width: 10000px;
    margin: 0 auto;
  }

  .container .content {
    position: absolute;
    bottom: 0;
    background:black;
    background: rgba(0,0,0,0.5);
    color: #f1f1f1;
    width: 95%;
    padding: 20px;
  }

  .galleryGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    margin-top: 10px;
}
main {
    margin: 0 auto;
    max-width: 80%;
    text-align: center;
}

.galleryGrid img:hover {
    box-shadow: 2px 2px 2px;
    
}

div.gallery {
    margin: 5px;
    float: left;
}

.form  {
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
}

p {
    
    padding-right: 5em;
    padding-left: 5em;
    padding-bottom: 3em;
    text-align: center;
}
