:root {
    --background-color: white;
    --text-color: rgb(156, 145, 145);
    --accent1-color:  rgb(222, 218, 218);
    --link-color: #2D3142;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: goldenrod;
    font-size: large;
  }

  li {
    float: right;
  }
  
  li a:hover {
   color: var(--accent1-color);
  }

  li a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }

  .container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }