article {
    background-color: white
}

h1 {
    color: #504f8a;
    text-align: center;
    font-size: 30px;
}

img {
    width: 200px;
}

section {
    display: grid;
    grid-template-columns: 1fr;
}

footer {
    text-align: center;
}

@media only screen and (min-width: 32.5em){
    section {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 60em){
    section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

